#navbar{
  width:100%;
  height:80px;
  background-color:gray;
  text-align:center;
  line-height:80px;
  margin:0;
}

#headline{
  width:100%;
  height:100%;
  background-color:lightblue;
  text-align: center;
}

#container{
    width:100%;
    height:100%;
    text-align: center;
    background-color:lightblue;
  }